.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 20px;
  width: 300px;
  height: auto;
}

.form {
  display: flex;
  flex-direction: column;
}
.input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
}
input {
  padding: 10px;
  margin: 10px 0;
  width: calc(100% - 20px); /* Subtract the left and right padding */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
}
.dropzone {
  padding: 20px;
  border: 2px dashed #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.dropzone button {
  margin-top: 10px;
}

.preview {
  width: 100px;
  height: auto;
  margin-top: 15px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
}

button:hover {
  background-color: #0056b3;
}

.image-container {
  position: relative;
  width: 100px;
  height: auto;
}

.preview {
  width: 100%;
  height: auto;
}

.delete-icon {
  position: absolute;
  top: -10px; /* Half of the button's size to center it on the edge */
  right: -10px; /* Half of the button's size to center it on the edge */
  background: red;
  border: none;
  color: white;
  cursor: pointer;
  display: none;
  width: 20px; /* Set the size of the button */
  height: 20px; /* Set the size of the button */
  border-radius: 50%; /* Make the button round */
  text-align: center;
  line-height: 20px; /* Center the text vertically */
  font-size: 8px;
}

.image-container:hover .delete-icon {
  display: block;
}

.restaurants {
  display: flex;
  flex-direction: column;

  flex-grow: 1;
}
.container {
  display: flex;
}

.navbar {
  padding: 20px;
  width: 200px;
  height: 100vh;
  border-right: 1px solid #ddd;
}

.navbar label {
  display: flex;
  align-items: center;
}

.navbar label input {
  margin-left: 10px;
  width: auto;
}

.restaurant {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding-left: 20px;
  padding-right: 80px;
  border: 1px solid #000;
  transition: background-color 0.3s ease;
  height: 200px;
  margin-right: 20px;
}

.restaurant:hover {
  background-color: #bdbdbd;
}

.restaurant .details {
  display: flex;
  flex-direction: column;
}

.restaurant .details .top .address {
  padding-left: 100px;
  margin-top: 15px;
  margin-bottom: 0;
}

.restaurant .details .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.restaurant .details .desscription {
  order: 2;
}

.restaurant h2 {
  order: 0;
  font-size: 40px;
  margin: 0;
}

.restaurant img {
  max-width: 200px;
  max-height: 180px;
  margin-left: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  justify-content: space-between;
}

.modal-content img {
  max-width: 40%; /* Adjust as needed */
  height: auto;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.button-container {
  display: flex;
  justify-content: space-between;
}

.button-container button {
  margin: 0 10px; /* Adjust as needed */
}

.star-ratings {
  display: inline-flex !important;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}

.rating-label {
  margin-top: 20px;
  margin-bottom: 5px;
}

.comment-textarea {
  width: 100%;
  height: 100px;
  resize: none;
}

.scrollable {
  max-height: 90px; /* Adjust as needed */
  overflow-y: auto;
  width: 100%;
}

.rating {
  border-bottom: 1px solid #ccc; /* Adjust as needed */
  margin-bottom: 10px; /* Adjust as needed */
  padding-bottom: 10px; /* Adjust as needed */
}
.average-rating {
  margin-bottom: 10px; /* Adjust as needed */
  padding-bottom: 10px; /* Adjust as needed */
  border-bottom: 1px solid #ccc; /* Adjust as needed */
}

.comment-textarea-new {
  width: 80%;
  height: 50px;
  resize: none;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.input-container .input {
  flex: 1;
  margin-right: 10px;
}
